#services .title,
#services .sub_title {
  text-align: center;
}

#services .services_container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 20px;
  margin-top: 50px;
}

#services .service {
  display: flex;
  flex-direction: column;
  align-items: stretch;
  justify-content: space-between;
  border-radius: var(--radius-2);
  padding-bottom: 20px;
  transition: var(--transition);
  border: solid 2px transparent;
}

#services .service:hover {
  border-color: var(--color-primary);
  background: var(--color-ui-secondary);
}

#services .service .picture {
  height: 300px;
  overflow: hidden;
  border-radius: var(--radius-2);
}

#services .service:hover img {
  transform: scale(1.2);
  transition: transform 0.3s ease-in-out;
}

#services .service .details,
#services .service .buttons_container {
  padding: 10px 20px;
}

#services .service .details {
  flex: 1;
}

#services .service .details .description {
  margin: 15px 0;
}

#services .service .buttons_container {
  display: flex;
  justify-content: space-between;
  margin-top: 20px;
  gap: 20px;
}

/* Responsive Layouts */
@media (max-width: 1040px) {
  #services .services_container {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (max-width: 700px) {
  #services .services_container {
    grid-template-columns: 1fr;
  }
}

