#header {
    position: relative;
    overflow: hidden;
}
#header .system_wrapper{
    position: absolute;
    right: 200px;
    top: 50px;
    z-index: 1;
}
#header .container {
    display: flex;
    gap: 40px;
    position: relative;
    z-index: 2;
    padding-top: 150px;
}

#header .container.blur-effect::before {
    content: ""; /* Required for ::before to render */
    position: absolute;
    right: 0;
    top: 0;
    margin-right: -5%;
    margin-top: -5%;
    width: 150px;
    height: 180px;
    background: rgba(255, 255, 255, 0.1); /* Add some visible effect */
    backdrop-filter: blur(20px);
    z-index: -1;
}

#header .container .column:first-child {
    flex: 1;
}

#header .container .buttons_container {
    display: flex;
    gap: 20px;
    margin-top: 30px;
}

#header .image_container {
    width: 100%;
    max-width: 500px;
    margin: auto;
    overflow: hidden;
    border-radius: var(--radius-5);
}

@media (max-width: 900px) {
    #header .container {
        flex-direction: column;
        align-items: center;
    }

    #header .container * {
        text-align: center;
    }

    #header .container .buttons_container {
        justify-content: center;
    }
}
